<div class="col-3 border-right py-5 d-md-block d-none">
  <div class="img-ring p-1 mx-auto mb-4">
    {{#if userPhoto}}
    <img class="round img" src="{{userPhoto}}">
    {{else}}
    <img class="round img" src="/img/user.svg">
    {{/if}}
  </div>
  <div class="px-5 mx-auto work-area__side-menu">
    <h4 class="bold py-4">
      {{#if userName}}
      Hi, {{userName}}
      {{else}}
      Hi, Guest User
      {{/if}}
    </h4>
    <div class="font-md py-3"><a href="/users/me"
        class="hover-orange {{#ifeq  val=currentUrl expected="users"}}active{{/ifeq}}">My Profile</a></div>
    <div class="font-md py-3"><a href="/address"
        class="hover-orange {{#ifeq  val=currentUrl expected="address"}}active{{/ifeq}}">My Addresses</a></div>
    {{!-- <div class="font-md py-3"><a href="/users/me/organisations" class="hover-orange {{#ifeq  val=currentUrl expected="organisations"}}active{{/ifeq}}">My Organizations</a></div> --}}
    <div class="font-md py-3"><a href="/apps"
        class="hover-orange {{#ifeq  val=currentUrl expected="apps"}}active{{/ifeq}}">My Applications</a></div>
    <div class="font-md py-3 v-align-ma">
      <a href="/users/me/clients" class="hover-orange {{#ifeq  val=currentUrl expected="clients"}}active{{/ifeq}}">
        My Clients
        <span class="card-md orange ml-1">(DEV)</span>
      </a>
    </div>
    <div class="font-md py-3"><a href="/logout" class="hover-orange">Logout</a></div>
  </div>
</div>
