<div class="row no-gutters work-area">
    <div class="col-5 b-right py-5">
    </div>
    <div class="col-7 py-5 px-5">
        <div class="tab-nav-underline w-100 justify-content-start">
            <div class="tab active px-0 font-md extra-bold">Forgot Username</div>
        </div>

        <div class="my-4 pt-4">
            <div class="font-mds dark-grey">
                Your Userame has been sent to your registered email.
            </div>
        </div>
    </div>
</div>