{{!< centercolumn}}

<div class="col-12 col-md-6 c-add-address">
    <div class="card">
        <h1 class="heading-u-red">
            Forgot Username
        </h1>

        <p>Your username has been sent to your registered email.</p>
    </div>
</div>