<div class="row no-gutters work-area">
  <div class="col-lg-5 d-none d-lg-flex border-right py-5 all-center">
    <img src="https://hack.codingblocks.com/images/beginner.gif" alt="">
  </div>
  <div class="col-lg-7 py-5 px-sm-5 px-4">
    <div class="tab-nav-underline w-100 justify-content-start">
      <a href="/login" class="tab active px-0 font-md extra-bold">Login</a>
      <a href="/signup" class="tab px-0 mx-5 font-md extra-bold">Sign Up</a>
    </div>

    <div class="my-5 pt-4">
      <h4 class="bold">Login to your account</h4>
      <div class="font-mds dark-grey mt-1">Step into the world of coding</div>
    </div>

    <form action="/login" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {{> error-snippet}}

      <div class="input-btn">
        <input type="text" id="addtype" class="underline-input font-sm bold w-100 my-5"
          placeholder="Username or Verfied Email ID or Verified Mobile No" name="username" required />
        <a href="/forgot/username">Forgot?</a>
      </div>

      <div class="input-btn">
        <input type="password" id="addtype" class="underline-input font-sm bold w-100 my-5"
          placeholder="Enter Password (Leave blank for OTP Login)" name="password" />
        <a href="/forgot/password">Forgot?</a>
      </div>

      <label class="input-checkbox checkbox-solid font-sm" for="solid">
        <input type="checkbox" id="solid">
        <div class="d-inline-block mt-2">Remember Me</div>
        <span class="salmon-gradient"></span>
      </label>

      <div class="mt-5">
        <button class="button-solid lg" type="submit">Login Now</button>
        <button class="font-sm salmon semi-bold ml-3" type="submit" formaction="/login/otp" formmethod="post">
          Login with OTP
        </button>
      </div>
    </form>


    <div class="font-sm mt-5">You may also try login with:</div>
    <div class="mt-4">
      <a href="/login/facebook" class="mr-4"><i class="fa-2x fab fa-facebook-f"></i></a>
      <a href="/login/google" class="mx-4"><i class="fa-2x fab fa-google"></i></a>
      <a href="/login/github" class="mx-4"><i class="fa-2x fab fa-github"></i></a>
      <a href="/login/linkedin" class="mx-4"><i class="fa-2x fab fa-linkedin-in"></i></a>
      <a href="/login/twitter" class="mx-4"><i class="fa-2x fab fa-twitter"></i></a>
    </div>
  </div>
</div>