<div class="row no-gutters work-area">
	<div class="col-lg-5 d-none d-lg-flex border-right py-5 all-center">
		<img src="https://hack.codingblocks.com/images/beginner.gif" alt="">
	</div>
	<div class="col-lg-7 py-5 px-sm-5 px-4">
		<div class="tab-nav-underline w-100 justify-content-start">
			<div class="tab active px-0 font-md extra-bold">Login using OTP</div>
		</div>

		<div class="my-4 pt-4">
			<div class="font-mds dark-grey mt-1">Step into the world of coding</div>
		</div>

		<form action="/login/otp" method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}" />

			{{> error-snippet}}

			<div class="input-btn">
				<input type="text" class="underline-input font-sm bold w-100 my-5" placeholder="Enter Username" name="username"
					value={{mobile_number}} required readonly />
			</div>

			<div class="input-btn">
				<input type="password" class="underline-input font-sm bold w-100 my-5" placeholder="Enter 6 digit OTP"
					name="password" required />
			</div>

			<div class="mt-5">
				<button class="button-solid button-orange lg" type="submit">Login</button>
				<button class="font-sm gradient-text-orange semi-bold ml-3" type="submit" form="second">
					Resend OTP
				</button>
			</div>

			<div class="mt-4 font-mds dark-grey bold">
				OTP is valid for only 10 minutes.
			</div>
		</form>

		<form action="/login/otp/resend" id="second" method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<div class="input_btn">
				<input type="hidden" value="{{mobile_number}}" name="username" readonly required />
			</div>
		</form>
	</div>
</div>