{{!< centercolumn}}

<div class="card">
	<div class="heading-u-red">Verify Mobile Number</div>

	<form id="edit-form" method="post" action="/verifymobile/verify">
		<div class="attributes">
			{{> error-snippet}}
			<div class="row no-gutters align-items-center justify-content-between detail-row">
				<div class="label-input col-2">Mobile Number</div>
				<input type="text" readonly class="input-text col-9" name="mobile_number" value="{{user.mobile_number}}">
			</div>
			<div class="row no-gutters align-items-center justify-content-between detail-row">
				<div class="label-input col-2">One Time Password:</div>
				<input class="input-text col-9" type="password" name="otp" placeholder="Enter OTP" id="password" />
			</div>
			<div class="flex-row justify-content-end button-div">


				<div class="button-solid">
					<button type="submit" onclick="" form="edit-form"> Verify</button>
				</div>

				<div class="button-solid">
					<button type="submit" form="second">Resend OTP</button>
				</div>

			</div>
		</div>
	</form>
</div>
<form action="/verifymobile/resend" method="POST" id="second">

</form>