<div class="row no-gutters work-area">
	<div class="col-5 border-right py-5">
	</div>
	<div class="col-7 py-5 px-5">
		<div class="tab-nav-underline w-100 justify-content-start">
			<div class="tab active px-0 font-md extra-bold">Verify Mobile</div>
		</div>

		<div class="my-4 pt-4">
			<div class="font-mds dark-grey">
				Please verify your mobile number using OTP below.
			</div>
		</div>

		<form action="/verifymobile/verify" method="POST" id="edit-form">
			{{> error-snippet}}

			<input type="text" class="underline-input font-sm bold w-100 my-5" name="mobile_number"
				placeholder="Enter Mobile Number" value="{{user.mobile_number}}" readonly />

			<input type="password" class="underline-input font-sm bold w-100 my-5" name="otp" placeholder="Enter OTP"
				id="password" required />

			<div class="mt-5">
				<button class="button-solid lg" type="submit" form="edit-form" onclick="">Verify</button>
				<button class="button-dashed lg ml-3" type="submit" form="second">
					Login with OTP
				</button>
			</div>
		</form>
	</div>
</div>

<form action="verifymobile/resend" method="POST" id="second"></form>