{{!< centercolumn}}

{{#if messages.error}}
    <div class="alert alert-danger" role="alert">
        {{messages.error}}
    </div>
{{/if}}

<div class="card">
    <div class="heading-u-red">Verify Mobile Number</div>

    <form id="edit-form" method="post" action="/verifymobile/verify">
        <div class="attributes">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">Mobile Number</div>
                <input type="text" readonly class="input-text col-9" name="mobile_number" value="{{user.mobile_number}}">
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">One Time Password:</div>
                <input class="input-text col-9" type="password" name="otp" placeholder="Enter OTP" id="password"/>
            </div>
            <div class="flex-row justify-content-end button-div">
                <div class="button-solid">
                    <button type="submit">Verify</button>
                </div>
            </div>
        </div>
    </form>
</div>
