{{!< centercolumn}} 
<div class="offset-md-4 col-md-8 col-lg-7 c-profile">
  <div class="card">
    <div class="details">
      <div class="flex-row justify-content-between">
        <h1 class="heading-u-red">Verify Email</h1>
      </div>
    </div>
    <div class="attributes">
      <div class="flex-row">
        <p class="text-center">Please click on the link sent to you on your registered email id within 24 hours to
          verify your email. </p>
      </div>
    </div>
  </div>
</div>