{{!< centercolumn}}
    <div class="offset-md-4 col-md-8 col-lg-7 c-profile">
        <div class="card">
            <div class="details">
                <div class="flex-row justify-content-between">
                    <h1 class="heading-u-red">Forgot Password</h1>
                </div>
            </div>
            <div class="attributes">
                <div class="flex-row">
                    <form action="/forgot/password" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        {{> error-snippet}}
                        <div class="row no-gutters align-items-center justify-content-between detail-row">
                            <div class="label-input col-md-4 col-sm-3">Enter your registered Email-Id</div>
                            <input type="email" class="input-text col-8" placeholder="abc@gmail.com" name="email"
                                required />
                        </div>

                        <div class="row justify-content-end">
                            <div class="button-solid mt-4">
                                <button type="submit"> SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>