<div class="row no-gutters work-area">
	<div class="col-5 border-right py-5">
	</div>
	<div class="col-7 py-5 px-5">
		<div class="tab-nav-underline w-100 justify-content-start">
			<div class="tab active px-0 font-md extra-bold">Reset Password</div>
		</div>

		<div class="my-4 pt-4">
			<div class="font-mds dark-grey">Reset your Password below.</div>
		</div>

		<form action="/forgot/password/new" method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			{{> error-snippet}}

			<input type="password" class="underline-input font-sm bold w-100 my-5" name="password"
				placeholder="Enter New Password" required />

			<input type="password" class="underline-input font-sm bold w-100 my-5" name="passwordagain"
				placeholder="Re-Enter New Password" required />

			<input type="key" value="{{key}}" type="hidden">

			<button class="button-solid lg mt-4" type="submit">Reset</button>
		</form>
	</div>
</div>