<div class="row no-gutters work-area">
  {{>side-nav}}
  <div class="col-md-9 py-5 work-area__main-area">
    <div class="tab-nav-underline w-100 justify-content-start">
      <div class="tab active px-0 font-md extra-bold">Add Organisation</div>
    </div>

    <form action="/api/organisations/add" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="row">
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Organisation Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="name" class="underline-input pb-3 font-sm bold w-100"
                placeholder="(e.g Nagarro)">
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Full Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="full_name" class="underline-input pb-3 font-sm bold w-100"
                placeholder="(e.g Nagarro Software Pvt. Ltd.)">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Website</label>
            </div>
            <div class="col-8">
              <input type="text" name="website" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Website URL">
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Domain</label>
            </div>
            <div class="col-8">
              <input type="text" name="domain" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Domain Name">
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <button class="button-solid lg" type="submit">Save Organisation</button>
        <button class="font-sm ml-4 daark-grey" type="reset">Reset</button>
      </div>
    </form>
  </div>
</div>